body {
	margin: 0;
	font-family: "Open Sans";
	font-weight: 100;
	overflow-x: hidden; 
}

.header {
	background: url('../assets/cream_dust.png');
	height: 300px;
	min-width: 1280px;
	border-bottom: 1px solid #E7E7E7;
}

.header-text {
	margin-right: 50px;
	text-align: right;
	font-size: 16px;
	margin-top: 10px;
}

p {
	margin: 0;
}

.social-link:hover, .header a:hover {
	color: #666;
}

.tagline {
	font-size: 22px;
}

.social-link {
	color: #000;
	font-weight: 400;
	text-decoration: none;
	margin-left: 10px;
}

.social-media {
	font-size: 20px;
}

.header a {
	font-weight: 400;
}

.header h1 {
	padding-top: 60px;
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	margin: 0;
	font-style: italic;
	text-align: center;
}

.header h1 a {
	margin: 0;
	font-weight: 900;
	text-decoration: underline;
}

.header h1 a:hover {
	text-decoration: none;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 50px;
	margin: 0;
}

.content {
	margin-left: 33%;
	margin-top: 38px;
}

.project {
	height: 250px;
	border-bottom: 1px solid #E7E7E7;
	margin: 0;
	min-width: 1280px;
}

.tags {
	margin-top: 10px;
}

a {
	color: #000;
	text-decoration: none;
}

.icon-rss-sign {
	color: #40aeeb;
}

.project-image {
	position: relative;
	min-width: 150px;
	float: left;
	max-width: 250px;
	margin: 60px;
}

.image-me {
	position: relative;
	max-width: 130px;
	float: right;
	clear: right;
	border-radius: 100px;
	margin-right: 300px;
	margin-left: 16px;
	margin-top: -12px;
}

.project-icon {
	margin-top: -25px;
	position: relative;
	min-width: 150px;
	float: left;
	width: 23%;
	font-size: 150px;
	margin-left: 100px;
}

.tags span {
	text-transform: uppercase;
	padding-bottom: 2px;
	margin-right: 12px;
	padding-right: 5px;
	padding-left: 5px;
	border: 2px solid;
	padding-top: 2px;
	font-size: 19px;
	color: #222;
}

.about {
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
}

.about a {
	color: #fff;
	font-style: italic;
}

.about p {
	padding: 30px;
	border-bottom: 1px solid #fff;
}

.intro {
	background: #2BBFBD;
	font-size: 70px;
}

.columbia {
	background: #75B2DD;
}

.hackny {
	background: #EF0000;
}

.bloglovin {
	background: #40AEEB;
}

.adicu {
	background: #76BFE5;
}

.music {
	background: #F2B33D;
}

.back {
	color: #fff;
}

.back a {
	color: #000;
}