#footer {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;

}

nav {
	text-align: center;
}

nav ul li {
	display: inline-block;
	position: relative;
	margin: 10px;
}

a:link, a:visited {
    color: #088da5;
    text-decoration: none;
}

a:hover {
    color: #666;
    text-decoration: none;
}

