<div class="container contact">
    <h1>Hit me up</h1>
    <div class="social">
        <a href="http://twitter.com/djj2115" target="_blank"><img class="social-icon" src="/assets/contact/twitter.png"></a>
        <a href="http://instagram.com/dariajung" target="_blank"><img class="social-icon" src="/assets/contact/instagram.png"></a>
        <a href="http://www.linkedin.com/pub/daria-jung/58/4ab/28b" target="_blank"><img class="social-icon" src="/assets/contact/linkedin.png"></a>
        <a href="http://github.com/dariajung" target="_blank"><img class="social-icon" src="/assets/contact/github.png"></a>
    </div>
    <a target="_blank" href="mailto:daria@dariajung.com"><div class="green-btn">Email</div></a>
</div>